#newslist {
	width: 100%;
	position: relative;
	height: auto;
	text-align: left;
}

#newslist > section.header {
	width: 100%;
	padding-top: 20px;
	position: relative;
}

#newslist > section.header > h1 {
	font-size: 24px;
	color: #c41e3a;
	text-shadow: 5px 5px 10px #AAA;
	margin-left: 20px;
	display: inline-block;
}

#newslist > section.header > input {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0px;
	float: right;
	margin-right: 20px;
}

#newslist > section.header > hr {
	border-color: #c41e3a;
}

#newslist > section.content {
	position: relative;
}

#newslist > section.content > ul {
	width: 100%;
	list-style: none;
	padding: 8px 0px 8px 0px;
}

#newslist > section.content > ul > li {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 10px #AAA;
	min-height: 60px;
}

#newslist > section.content > ul > li > h2 {
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 20px;
	font-weight: 400;
}

#newslist > section.content > ul > li > pre {
	display: block;
	font-size: 16px;
	margin: 0 10px;
	padding-top: 30px;
	padding-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#newslist .popup-content * {
	display: block;
}

#newslist .popup-content > input {
	position: relative;
	top: 0;
	width: 90%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #000;
	border-radius: 0;
	background-color: transparent;
}

#newslist .popup-content > section.detailssection {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 10px;
	right: 10px;
}

#newslist .popup-content > section > textarea {
	resize: none;
	height: 100%;
	width: 100%;
	font-size: 16px;
	border: none;
}

@media (min-width: 768px) {
	#newslist {
		/*flex: 1 0 auto;*/
		width: 50%;
	}

	#newslist > section.header > h1 {
		font-size: 30px;
	}

	#newslist > section.header > input {
		width: 30px;
		height: 30px;
	}

	#newslist > section.header > hr {
		width: 96%;
	}

	#newslist > section.content {
		top: 10px;
	}

	#newslist > section.content > ul {
		padding-top: 0px;
	}

	#newslist > section.content > ul > li {
		min-height: 100px;
	}

	#newslist > section.content > ul > li > h2 {
		top: 5px;
		left: 10px;
		font-size: 22px;
	}

	#newslist > section.content > ul > li > pre {
		font-size: 20px;
		padding-top: 40px;
		padding-bottom: 10px;
		margin: 0 10px;
	}

}