#login-page {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#login-page > * {
	display: relative;
}

#login-page > img {
	position: absolute;
	display: block;
	width: 50%;
	left: 25%;
	top: 15%;
}

#login-page > #login {
	position: absolute;
	display: block;
	top: 50%;
	left: 0;
	right: 0;
}

#login-page > #login .row {
	display: block;
	width: 100%;
	height: 80px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0px 1px 0px;
}

#login-page > #login .row > p  {
	position: absolute;
	left: 0px;
	text-align: right;
	width: 40%;
	font-size: 40px;
	height: 60px;
	line-height: 80px;
	margin: 0px;
}

#login-page > #login .row > input {
	position: absolute;
	right: 0px;
	text-align: left;
	width: 50%;
	font-size: 30px;
	height: 80px;
	margin: 0px;
	padding-left: 10px;
	border: none;
	background-color: transparent;
	outline: none;
}

#login-page > #login > #login-button,
#login-page > #login > #or-register-button,
#login-page > #login > #register > #register-button,
#login-page > #login > #register > #or-login-button {
	position: relative;
	display: block;
	font-size: 40px;
	margin: 0 auto;
	top: 50px;
	outline: none;
	width: 70%;
	height: 80px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	background-color: transparent;
}

#login-page > #login > #login-button:active,
#login-page > #login > #or-register-button:active,
#login-page > #login > #register > #register-button:active,
#login-page > #login > #register > #or-login-button:active {
	color: #c41e3a;
	border-color: #c41e3a;
}

#login-page > #login > #or-register-button,
#login-page > #login > #register > #or-login-button {
	top: 60px;
	font-size: 30px;
}

#login-page > #login p.required {
	color: #c41e3a;
	font-weight: 300;
}

@media (min-width: 1200px) {
	#login-page > img {
		width: 12%;
		top: 5%;
		left: 44%;
	}

	#login-page > #login {
		top: 40%;
	}

	#login-page > #login > #login-button,
	#login-page > #login > #or-register-button,
	#login-page > #login > #register > #register-button,
	#login-page > #login > #register > #or-login-button {
		width: 30%;
		font-size: 30px;
	}

	input[type=button]:hover {
		cursor: pointer;
	}
}