<section id="attendees">
	<section class="table">
		<section class="row">
			<p class="col-3">Carpooling:</p>
			<p class='col-3 t-right'>{{ctrl.passengerCount}}</p><p class="col-1 t-left"><img src="assets/person.png" alt="people"></p>
			<p class="col-3 t-right">{{ctrl.bikeCount}}</p><p class="col-1 t-left">&nbsp<img src="assets/simple_bike.png" alt="bikes"></p>
		</section>
		<section class="row">
			<p class="col-3">Capacity:</p>
			<p class='col-3 t-right'>{{ctrl.passengerCapacity}}</p><p class="col-1 t-left"><img src="assets/person.png" alt="people"></p>
			<p class="col-3 t-right">{{ctrl.bikeCapacity}}</p><p class="col-1 t-left">&nbsp<img src="assets/simple_bike.png" alt="bikes"></p>
		</section>
	</section>

	<section class="lists">
		<h2>Drivers</h2>
		<ul>
			<li ng-repeat="driver in ctrl.drivers track by $index">
				<label>{{driver.name}}<input type="checkbox" ng-checked="driver.selected" ng-model="ctrl.driverSelection[driver.key]"></label>
				<section>
					{{driver.passengerCapacity}}<img src="assets/person.png" alt="people"> {{driver.bikeCapacity}} <img src="assets/simple_bike.png" alt="bikes">
				</section>
			</li>
		</ul>

		<h2>Passengers</h2>
		<ul>
			<li ng-repeat="passenger in ctrl.passengers track by $index">
				<p>{{passenger.name}}</p><img src="assets/person.png"><img src="assets/simple_bike.png" ng-if="passenger.hasBike">
			</li>
		</ul>

		<h2>Driving Self</h2>
		<ul>
			<li ng-repeat="person in ctrl.selfDrivers track by $index">
				<p>{{person.name}}</p><img src="assets/simple_bike.png" ng-if="person.hasBike">
			</li>
		</ul>
	</section>
</section>