#eventdetails {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.9);
}

#eventdetails > header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	border-bottom: 1px solid #c41e3a;
	display: flex;
	flex-direction: row;
	background-color: transparent;
}

#eventdetails > header > h1 {
	font-size: 20px;
	color: #c41e3a;
	flex: 4 0 auto;
	line-height: 40px;
}

#eventdetails > header > section {
	flex: 1 0 0;
	margin: 0 auto;
	text-align: center;
}

#eventdetails > header > section > input[type=image] {
	height: 20px;
	margin-top: 10px;
	margin-left: 10px
}

#eventdetails > header > section > input {
	height: 40px;
	font-size: 16px;
	text-align: center;
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
	padding-right: 10px;
}

#eventdetails > #tabs {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	height: 30px;
	display: flex;
	flex-direction: row;
	background-color: transparent;
	/*background-color: #fff;*/
}

#eventdetails > #tabs > section {
	display: inline-block;
	flex: 1 0 auto;
	height: 30px;
	margin: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	transition: all 0.1s;
}

#eventdetails > #tabs > section.active {
	border-bottom: 2px solid #c41e3a;
	transition: all 0.1s;
}

#eventdetails > #tabs > section > input {
	display: block;
	margin: 0 auto;
	position: relative;
	font-size: 16px;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
}

#eventdetails > #tabs > section.active > input {
	color: #c41e3a;
}

#eventdetails > #eventinfo {
	position: absolute;
	top: 100px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background-color: transparent;
	overflow-y: scroll;
}

#eventdetails > #eventinfo > input[type=image] {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 50px;
	height: 50px;
}

#eventdetails > #eventinfo > #details > #map {
	height: 200px;
	box-shadow: 0px 0px 20px #AAA;
}

#eventdetails > #eventinfo > #details > pre {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
	font-size: 16px;
	margin-top: 20px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#eventdetails > #eventinfo > #comments > ul {
	list-style: none;
	padding: 0px;
	position: absolute;
	top: 0px;
	bottom: 80px;
	left: 0;
	right: 0;
	overflow-y: scroll;
}

#eventdetails > #eventinfo > #comments > ul > li {
	/*border-top: 1px solid #AAA;*/
	margin: 10px 0;
	width: 100%;
}

#eventdetails > #eventinfo > #comments > ul > li > #initials {
	display: inline-block;
	width: 27px;
	height: 27px;
	border: 1px solid black;
	border-radius: 2px;
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}

#eventdetails > #eventinfo > #comments > ul > li > #initials > p {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding: 0px;
	margin: 0px;
	color: #c41e3a;
}

#eventdetails > #eventinfo > #comments > ul > li > #comment-content {
	position: absolute;
	top: 0;
	left: 30px;
	right: 10px;
	margin-left: 5px;
}

#eventdetails > #eventinfo > #comments > ul > li > #comment-content > .c-message {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
}

#eventdetails > #eventinfo > #comments > ul > li > #comment-content > .c-name {
	font-size: 16px;
	font-weight: 400;
	margin: 15px 0px 0px 0px;
	color: #333;
}

#eventdetails > #eventinfo > #comments > ul + section {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #AAA;
	border-radius: 0;
}

#eventdetails > #eventinfo > #comments > ul + section > section {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#eventdetails > #eventinfo > #comments > ul + section > section > input {
	height: 100%;
	margin: 0px;
	font-size: 18px;
	border: none;
}

#eventdetails > #eventinfo > #comments > ul + section > section > input[type="text"] {
	padding-left: 5px;
	padding-right: 5px;
	outline-color: #c41e3a;
	flex: 9 0 auto;
}

#eventdetails > #eventinfo > #comments > ul + section > section > input[type="text"]:focus {
	border: 1px solid #c41e3a;
	border-radius: 0;
}

#eventdetails > #eventinfo > #comments > ul + section > section > input[type="button"] {
	background-color: transparent;
	outline: none;
	border: none;
	border-left: 1px solid #c41e3a;
	border-radius: 0px;
	-webkit-appearance: none;
	flex: 1 0 auto;
}

#eventdetails .popup-content {
	display: flex;
	flex-direction: column;
}

#eventdetails .popup-content > input {
	display: block;
	flex: 1 0 auto;
	width: 100%;
	border: none;
	border: 1px solid black;
	background-color: #fff;
	font-size: 40px;
	border-radius: 0;
	-webkit-appearance: none;
}

#eventdetails .popup-content > ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

#eventdetails .popup-content > ul > li {
	margin: 0;
	padding: 0;
	flex: 1 0 0;
	position: relative;
	border: 1px solid #000;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#eventdetails .popup-content > ul > li input {
	visibility: hidden;
	display: block;
}

#eventdetails .popup-content > ul > li label {
	display: block;
	cursor: pointer;
	font-size: 60px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
/*	position: absolute;
	top: 0;
	bottom: 0;
	padding-top: 10%;*/
	flex: 1 0 auto;
	transition: font-size 0.5s;
}

#eventdetails .popup-content > ul > li input + label:before {
	position: absolute;
	content: "\00bb ";
	left: -10px;
	transition: all 0.5s;
	opacity: 0;
}

#eventdetails .popup-content > ul > li input:checked + label {
	color: #c41e3a;
	font-size: 70px;
	transition: font-size 0.5s;
}

#eventdetails .popup-content > ul > li input:checked + label:before {
	display: inline-block;
	content: "\00bb ";
	left: 50px;
	opacity: 1;
	transition: all 0.5s;
}

#eventdetails .popup-content > input:active {
	font-weight: 500;
	color: #c41e3a;
}

#eventdetails .popup-actions {
	width: 100%;
	height: 100px;
	border-top: 1px solid #c41e3a;
	font-size: 0;
}

#eventdetails .popup-actions > input {
	display: inline-block;
	width: 50%;
	font-size: 35px;
	height: 100px;
	border: 1px solid #000;
	background-color: transparent;
}

@media (min-width: 768px) {
	#eventdetails > header {
		height: 50px;
	}

	#eventdetails > header > h1 {
		font-size: 30px;
		line-height: 50px;
	}

	#eventdetails > header > section > input {
		height: 24px;
		font-size: 20px;
	}

	#eventdetails > #tabs {
		top: 51px;
		height: 50px;
	}

	#eventdetails > #tabs > section {
		height: 50px;
	}

	#eventdetails > #tabs > section.active {
		border-width: 2px;
	}

	#eventdetails > #tabs > section > input {
		font-size: 20px;
	}

	#eventdetails > #eventinfo {
		width: 80%;
		margin: 0 auto;
		top: 125px;
	}

	#eventdetails > #eventinfo > #details > #map {
		position: absolute;
		width: 48%;
		height: auto;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: auto;
		display: inline-block;
		margin-top: 0px
	}

	#eventdetails > #eventinfo > #details > pre {
		display: inline-block;
		font-size: 20px;
		width: 50%;
		top: 20px;
		right: 0px;
		bottom: 20px;
		left: auto;
	}

	#eventdetails > #eventinfo > #comments > ul {
		top: 0;
		bottom: 50px;
		left: 0;
		right: 0;
	}

	#eventdetails > #eventinfo > #comments > ul > li {
		margin: 5px 0;
	}

	#eventdetails > #eventinfo > #comments > ul > li > #initials {
		width: 32px;
		height: 32px;
		border-radius: 4px;
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: 8px;
	}

	#eventdetails > #eventinfo > #comments > ul > li > #initials > p {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 22px;
	}

	#eventdetails > #eventinfo > #comments > ul > li > #comment-content > .c-message {
		font-size: 20px;
	}

	#eventdetails > #eventinfo > #comments > ul > li > #comment-content > .c-name {
		font-size: 14px;
		margin: 10px 0px 0px 0px;
	}

	#eventdetails > #eventinfo > #comments > ul + section {
		position: absolute;
		height: 50px;
	}

	#eventdetails > #eventinfo > #comments > ul + section > section > input {
		font-size: 22px;
	}

	#eventdetails > #eventinfo > #comments > ul + section > section > input[type=button]:hover {
		color: #c41e3a;
	}

	#eventdetails .popup-content > ul {
		position: absolute;
		top: 60px;
		bottom: 60px;
	}

	#eventdetails .popup-content > input {
		font-size: 24px;
	}

	#eventdetails .popup-content > ul > li label {
		font-size: 30px;
		transition: font-size 0.5s;
	}

	#eventdetails .popup-content > ul > li input:checked + label {
		font-size: 40px;
		transition: font-size 0.5s;
	}

	#eventdetails .popup-actions {
		width: 100%;
		height: 60px;
	}

	#eventdetails .popup-actions > input {
		font-size: 20px;
		height: 60px;
	}
}