<section id="eventdetails">
	<header>
		<section>
			<input type="image" src="assets/back.png" ng-click="ctrl.goBack()">
		</section>
		<h1>{{ctrl.event.name}}</h1>
		<section ng-if="ctrl.hasOfficerStatus()">
			<input type="image" src="assets/options.png" ng-click="ctrl.clickOfficerOptions()">
		</section>
		<section>
			<input type="button" value="{{ctrl.rsvpButtonText}}" ng-click="ctrl.viewRsvpForm()">
		</section>
	</header>

	<section id="tabs">
		<section id="tab-details" class="active">
			<input type="button" value="Details" ng-click="ctrl.activateTab('details')">
		</section>
		<section id="tab-comments">
			<input type="button" value="Comments" ng-click="ctrl.activateTab('comments')">
		</section>
		<section id="tab-attendees" ng-if="ctrl.hasOfficerStatus()">
			<input type="button" value="Attendees" ng-click="ctrl.activateTab('attendees')">
		</section>
	</section>

	<section id="eventinfo">
		<section id="details" ng-show="ctrl.view == 'details'">
			<!-- <h3>Meet @ {{ctrl.event.datetime | date : 'HH:mm a - dd MMM yyyy'}}</h3> -->
			<section id="map"></section>
			<pre>{{ctrl.event.details}}</pre>
		</section>
		<section id="comments" ng-show="ctrl.view == 'comments'">
			<ul>
				<li ng-repeat="c in ctrl.comments">
					<section id="initials">
						<p>{{ctrl.initials(c.name)}}</p>
					</section>
					<section id="comment-content">
						<p class="c-name">{{c.name}}</p>
						<p class="c-message">{{c.message}}</p>
					</section>
				</li>
			</ul>
			<section>
				<section>
					<input type="text" placeholder="Add Comment" ng-model="ctrl.newComment">
					<input type="button" value="Send" ng-click="ctrl.sendComment()">
				</section>
			</section>
		</section>

		<attendees ng-if="ctrl.view == 'attendees'" eventctrl="ctrl" event="ctrl.event"></attendees>
		<!-- <rsvpform ng-show="ctrl.rsvpPopup" eventctrl="ctrl" event="ctrl.event" negative="ctrl.rsvp" positive="ctrl.rsvp"></rsvpform> -->
		<popup ng-if="ctrl.rsvpPopup" ctrl="ctrl" class="small">
			<section class="popup-header">
				<h1>If going, how are you getting there?</h1>
			</section>
			<section class="popup-content">
				<ul>
					<li>
						<input type="radio" ng-model="ctrl.rsvp.option" value="driver" id="radioDriver"><label for="radioDriver">Driver</label>
					</li>
					<li>
						<input type="radio" ng-model="ctrl.rsvp.option" value="passenger" id="radioPassenger" ng-checked="true"><label for="radioPassenger">Passenger</label>
					</li>
					<li>
						<input type="radio" ng-model="ctrl.rsvp.option" value="not-carpooling" id="radioNotCarpooling"><label for="radioNotCarpooling">Not Carpooling</label>
					</li>
				</ul>
			</section>
			<seciton class="popup-actions">
				<input type="button" value="Not Going" ng-click="ctrl.closePopups()">
				<input type="button" value="Going" ng-click="ctrl.rsvp()">
			</seciton>
		</popup>
	</section>

	<popup ng-if="ctrl.showOfficerOptions" ctrl="ctrl" class="x-small">
		<section class="popup-header">
			<h1>Officer Options</h1>
		</section>
		<section class="popup-content">
			<input type="button" value="Close RSVPs">
			<input type="button" value="Edit Event">
			<input type="button" value="Delete Event">
		</section>
	</popup>
</section>