<section id="eventdetails">
	<section id="options">
		<input type="button" value="Home" ng-click="ctrl.goBack()">
		<input id="view-toggle" type="button" value="Comments" ng-click="ctrl.toggleView()">
		<input type="button" value="RSVP" ng-click="ctrl.viewRsvpForm()">
	</section>
	<section id="eventinfo">
		<h1>{{ctrl.event.name}}</h1>
		<h3>Meet @ {{ctrl.event.datetime}}</h3>
		<section id="details" ng-show="ctrl.view.details">
			<section id="map"></section>
			<pre>{{ctrl.event.details}}</pre>
		</section>
		<ul ng-show="ctrl.view.comments">
			<li ng-repeat="c in ctrl.comments">
				<section id="initials">
					<p>{{ctrl.initials(c.name)}}</p>
				</section>
				<section id="comment-content">
					<p class="c-name">{{c.name}}</p>
					<p class="c-message">{{c.message}}</p>
				</section>
			</li>
		</ul>
		<section ng-show="ctrl.view.comments">
			<section>
				<input type="text" placeholder="Add Comment" ng-model="ctrl.newComment">
				<input type="button" value="Send" ng-click="ctrl.sendComment()">
			</section>
		</section>
		<rsvpform ng-show="ctrl.view.rsvp" eventctrl="ctrl" event="ctrl.event"></rsvpform>
	</section>
</section>