#eventlist {
	width: 100%;
	position: relative;
	height: auto;
	min-height: 100px;
}

#eventlist > section.header {
	width: 100%;
	padding-top: 20px;
	position: relative;
}

#eventlist > section.header > h1 {
	font-size: 24px;
	color: #c41e3a;
	text-shadow: 5px 5px 10px #AAA;
	margin-left: 20px;
	display: inline-block;
}

#eventlist > section.header > input {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0px;
	float: right;
	margin-right: 20px;
}

#eventlist > section.header > hr {
	border-color: #c41e3a;
}

#eventlist > ul {
	width: 100%;
	list-style: none;
	padding: 8px 0px 8px 0px;
}

#eventlist > ul > li {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: #FFF;
	/*border: 1px solid #AAA;*/
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 10px #AAA;
	height: 60px;
}

#eventlist > ul > li.old {
	background-color: #CCC;
}

#eventlist > ul > li > h2 {
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 20px;
	font-weight: 400;
}

#eventlist > ul > li > p.rsvptext {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 10px;
	font-size: 14px;
}

#eventlist > ul > li > p.eventdate {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 16px;
}

#eventlist .popup-content * {
	display: block;
}

#eventlist .popup-content > input {
	position: relative;
	top: 0;
	width: 90%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #000;
	border-radius: 0;
	background-color: transparent;
}

#eventlist .popup-content > section.detailssection {
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 10px;
	right: 10px;
}

#eventlist .popup-content > section > textarea {
	resize: none;
	height: 100%;
	width: 100%;
	font-size: 16px;
	border: none;
}

#eventlist .popup-content > #map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media (min-width: 768px) {

	#eventlist {
		display: inline-block;
		width: 300px;
	}

	#eventlist > section.header {
		padding-top: 20px;
		text-align: left;
	}

	#eventlist > section.header > h1 {
		font-size: 30px;
	}

	#eventlist > section.header > input {
		width: 30px;
		height: 30px;
	}

	#eventlist > section.header > hr {
		width: 96%;
	}

	#eventlist > ul {
		padding-top: 8px;
	}

	#eventlist > ul > li {
		height: 100px;
	}

	#eventlist > ul > li:hover {
		cursor: pointer;
	}

	#eventlist > ul > li > h2 {
		top: 5px;
		left: 10px;
		font-size: 22px;
	}

	#eventlist > ul > li > p.rsvptext {
		bottom: 5px;
		left: 10px;
		font-size: 20px;
	}

	#eventlist > ul > li > p.eventdate {
		bottom: 5px;
		right: 10px;
		font-size: 20px;
	}

	#eventlist .popup-content {
		top: 60px;
		bottom: 60px;
	}

	#eventlist .popup-content > input {
		top: 0px;
		height: 60px;
		line-height: 60px;
		font-size: 24px;
		border: none;
		border-bottom: 1px solid #000;
		border-radius: 0;
		background-color: transparent;
	}

	#eventlist .popup-content > section.detailssection {
		position: absolute;
		top: 140px;
		left: 5%;
		right: 5%;
		bottom: 20px;
	}

	#eventlist .popup-content > section > textarea {
		font-size: 20px;
	}

	#eventlist .popup-actions {
		height: 60px;
	}

	#eventlist .popup-actions > input {
		font-size: 20px;
		height: 60px;
	}

}