<section id="eventdetails">
	<header>
		<section>
			<input type="image" src="assets/back.png" ng-click="ctrl.goBack()">
		</section>
		<h1 ng-click="ctrl.goBack()">{{ctrl.event.name}}</h1>
		<section class="empty"></section>
		<section ng-if="ctrl.userIsOfficer">
			<input type="image" src="assets/options.png" ng-click="ctrl.clickOfficerOptions()">
		</section>
		<section>
			<input type="button" value="{{ctrl.rsvpButtonText}}" ng-click="ctrl.viewRsvpForm()">
		</section>
	</header>

	<section id="tabs">
		<section id="tab-details" class="active">
			<input type="button" value="Details" ng-click="ctrl.activateTab('details')">
		</section>
		<section id="tab-comments">
			<input type="button" ng-value="ctrl.commentsTabTitle" ng-click="ctrl.activateTab('comments')">
		</section>
		<section id="tab-attendees">
			<input type="button" value="Attendees" ng-click="ctrl.activateTab('attendees')">
		</section>
	</section>

	<section id="eventinfo">
		<section id="details" ng-show="ctrl.view == 'details'">
			<!-- <h3>Meet @ {{ctrl.event.datetime | date : 'HH:mm a - dd MMM yyyy'}}</h3> -->
			<section id="map"></section>
			<pre>{{ctrl.event.details}}</pre>
		</section>
		<section id="comments" ng-show="ctrl.view == 'comments'">
			<ul>
				<li ng-repeat="c in ctrl.comments">
					<section id="initials">
						<p>{{ctrl.initials(c.name)}}</p>
					</section>
					<section id="comment-content">
						<p class="c-name">{{c.name}}</p>
						<p class="c-message">{{c.message}}</p>
					</section>
				</li>
			</ul>
			<section>
				<section>
					<input type="text" placeholder="Add Comment" ng-model="ctrl.newComment">
					<input type="button" value="Send" ng-click="ctrl.sendComment()">
				</section>
			</section>
		</section>

		<attendees ng-if="ctrl.view == 'attendees'" eventctrl="ctrl"></attendees>
		<popup ng-if="ctrl.rsvpPopup" ctrl="ctrl" class="small not-edit">
			<section class="popup-header">
				<h1>If going, how are you getting there?</h1>
			</section>
			<section class="popup-content">
				<ul>
					<li>
						<input type="radio" ng-model="ctrl.rsvp.option" value="driver" id="radioDriver"><label for="radioDriver">Driver</label>
					</li>
					<li>
						<input type="radio" ng-model="ctrl.rsvp.option" value="passenger" id="radioPassenger"><label for="radioPassenger">Passenger</label>
					</li>
					<li>
						<input type="radio" ng-model="ctrl.rsvp.option" value="not-carpooling" id="radioNotCarpooling"><label for="radioNotCarpooling">Not Carpooling</label>
					</li>
				</ul>
			</section>
			<seciton class="popup-actions">
				<input type="button" value="Not Going" ng-click="ctrl.rsvp(false)">
				<input type="button" value="Going" ng-click="ctrl.rsvp(true)">
			</seciton>
		</popup>
	</section>

	<popup ng-if="ctrl.showOfficerOptions" ctrl="ctrl" class="small not-edit">
		<section class="popup-header">
			<h1>Officer Options</h1>
		</section>
		<section class="popup-content">
			<input type="button" value="{{ctrl.officerOptionsText.close.display}}" ng-click="ctrl.officerOption('close')">
			<input type="button" value="{{ctrl.officerOptionsText.export.display}}" ng-click="ctrl.officerOption('export')">
			<input type="button" value="{{ctrl.officerOptionsText.edit.display}}" ng-click="ctrl.officerOption('edit')">
			<input type="button" value="{{ctrl.officerOptionsText.delete.display}}" ng-click="ctrl.officerOption('delete')">
		</section>
	</popup>

	<popup ng-if="ctrl.editingEvent" ctrl="ctrl" class="large popup-edit-event">
		<section class="popup-header">
			<h1>Edit Event</h1>
		</section>
		<section class="popup-content" ng-if="ctrl.popupPage == 1">
			<input type="text" ng-model="ctrl.editPopup.name" placeholder="Name of Workout">
			<input type="datetime-local" ng-model="ctrl.editPopup.datetime">
			<section class="detailssection">
				<textarea name="details" ng-model="ctrl.editPopup.details"  placeholder="Write details about the workout here"></textarea>
			</section>
		</section>
		<section class="popup-content" ng-if="ctrl.popupPage == 2">
			<section id="edit-map"></section>
		</section>
		<section class="popup-actions">
			<input type="button" value="Cancel" ng-click="ctrl.closePopups()" ng-if="ctrl.popupPage == 1;">
			<input type="button" value="Back" ng-click="ctrl.backPopup();" ng-if="ctrl.popupPage > 1;">
			<input type="button" value="Save" ng-click="ctrl.validateAndSave()" ng-if="ctrl.popupPage == 2">
			<input type="button" value="Next" ng-click="ctrl.validateAndNext()" ng-if="ctrl.popupPage < 2">
		</section>
	</popup>
</section>