#rsvpform {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(100, 100, 100, 0.5);
}

#rsvpform > .popup {
	position: fixed;
	top: 25%;
	bottom: 25%;
	left: 10%;
	right: 10%;
	background-color: #FFF;
	box-shadow: 0px 0px 20px #666;
	display: flex;
	flex-direction: column;
}

#rsvpform > .popup > .title {
	/*position: absolute;*/
	/*top: 0px;*/
	width: 100%;
	background-color: #c41e3a;
	flex: 0 0 100px;
}

#rsvpform > .popup > .title > p {
	padding-left: 20px;
	font-size: 40px;
	color: #FFF;
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
	font-weight: 400;
}

#rsvpform > .popup > .rsvp-options {
	flex: 4 0 auto;
	position: relative;
}

#rsvpform > .popup > .rsvp-options > ul {
	position: absolute;
	top: -18px;
	bottom: 0;
	left: 0;
	right: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#rsvpform > .popup > .rsvp-options > ul > li {
	margin: 0;
	padding: 0;
	flex: 1 0 0;
	position: relative;
	border-bottom: 1px solid #000;
	height: 100%;
}

#rsvpform > .popup > .rsvp-options > ul > li input {
	visibility: hidden;
	display: block;
}

#rsvpform > .popup > .rsvp-options > ul > li label {
	display: block;
	cursor: pointer;
	font-size: 60px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	margin-top: .5em;
}

#rsvpform > .popup > .rsvp-options > ul > li input:checked + label {
	color: #c41e3a;
}

#rsvpform > .popup > .row {
	display: block;
	padding: 0px;
	margin: 0px;
	height: 100px;
	font-size: 0px;
	flex: 0 0 100px;
}

#rsvpform > .popup > .row > input[type="button"] {
	display: inline-block;
	width: 50%;
	height: 100%;
	outline: none;
	margin: 0px;
	font-size: 40px;
	background-color: transparent;
	border: none;
}

#rsvpform > .popup > .row > input[type="button"]:nth-child(1) {
	border-right: 1px solid #000;
}


#rsvpform > .popup > .row > input[type="button"]:nth-child(2) {
	border-left: 1px solid #000;
}

#rsvpform > .popup > .row > input[type="button"]:active {
	border-width: 5px;
	border-color: #c41e3a;
	color: #c41e3a;
}