<section id="rsvpform" ng-click="ctrl.eventctrl.hideRSVP()">
	<section class="popup" ng-click="$event.stopPropagation()">
		<section class="title">
			<p>If going, how are you getting there?</p>
		</section>
		<hr>
		<section class="rsvp-options">
			<ul>
				<li>
					<input type="radio" ng-model="ctrl.rsvp.option" value="driver" id="radioDriver">
					<label for="radioDriver">Driver</label>
				</li>
				<li>
					<input type="radio" ng-model="ctrl.rsvp.option" value="passenger" id="radioPassenger">
					<label for="radioPassenger">Passenger</label>
				</li>
				<li>
					<input type="radio" ng-model="ctrl.rsvp.option" value="not-carpooling" id="radioNotCarpooling">
					<label for="radioNotCarpooling">Not Carpooling</label>
				</li>
			</ul>
		</section>
		<section class="row">
			<input type="button" value="Not Going">
			<input type="button" value="Going">
		</section>
	</section>
</section>