#settings {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	overflow-y: scroll;
}

#settings .table {
	position: relative;
	top: 40px;
}

#settings .table > .row {
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0px 1px 0px;
}

#settings .table > .row > p  {
	position: absolute;
	left: 0px;
	text-align: right;
	width: 35%;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin: 0px;
}

#settings .table > .row > p.bold  {
	font-weight: 500;
}

#settings .table > .row > input,
#settings .table > .row > select {
	position: absolute;
	right: 0px;
	text-align: left;
	width: 60%;
	font-size: 16px;
	height: 40px;
	margin: 0px;
	padding-left: 5px;
	border: none;
	background-color: transparent;
	outline: none;
}

#settings .table > .row > select {
	left: 40%;
	right: auto;
	width: auto;
}

#settings .table > .row > input[type=file] {
	margin-top: 8px;
	font-size: 16px;
}

#settings .table > .row > input[type=button] {
	color: #c41e3a;
}

#settings > input {
	display: block;
	margin: 0 auto 20px auto;
	text-align: center;

	width: 200px;
	height: 60px;
	
	outline: none;
	background-color: white;
	border: 1px solid #000;
	border-radius: 2px;

	font-size: 16px;
	line-height: 60px;
}

#settings > input:first-of-type {
	margin-top: 80px;
}

#settings > input:hover {
	color: #c41e3a;
}

#settings > input:active {
	border-color: #c41e3a;
}

#settings .loader {
	position: absolute;
	display: block;
	margin: 80px auto 0 auto;
}

#settings .popup-actions > input {
	border: 1px solid black;
	background-color: transparent;
	height: 100%;
}

@media (min-width: 768px) {

	#settings .table {
		top: 50px;
	}

	#settings .table > .row {
		height: 50px;
	}

	#settings .table > .row > p  {
		font-size: 20px;
		height: 50px;
		line-height: 50px;
	}

	#settings .table > .row > input,
	#settings .table > .row > select {
		font-size: 16px;
		height: 50px;
	}

	#settings > input {
		display: inline-block;
		width: 240px;
		height: 80px;
		font-size: 20px;
	}

	#settings .table > .row > input[type=file] {
		margin-top: 15px;
	}
}