#officers {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	overflow-y: scroll;
}

#officers > ul {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0;
	padding-bottom: 20px;
	margin: 0 auto;
	transition: all 1s;
	text-align: center;
}

#officers > ul > li {
	border: 1px solid #000;
	width: 125px;
	min-height: 165px;
	margin: 10px;
	position: relative;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	vertical-align: top;
}

#officers > ul > li > img {
	margin: 8px auto;
	width: 105px;
	height: 105px;
	border: 1px solid #AAA;
	object-fit: cover;
}

#officers > ul > li > p {
	font-size: 14px;
	margin-top: 6px;
}

#officers > ul > li > h2 {
	font-size: 18px;
	font-weight: 400;
}

@media only screen and (min-width: 768px) {

	#officers > ul {
		width: 750px;
		transition: width 1s;
	}

	#officers > ul > li {
		width: 220px;
		height: 260px;
	}

	#officers > ul > li > img {
		width: 200px;
		height: 200px;
	}

	#officers > ul > li > h2 {
		font-size: 18px;
		bottom: 24px;
	}

	#officers > ul > li > p {
		font-size: 16px;
		bottom: 6px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	#officers > ul {
		width: 1000px;
		transition: width 1s;
	}
}

@media only screen and (min-width: 1200px) {
	#officers > ul {
		width: 1200px;
		transition: width 1s;
	}
}